<!-- <div class="chitchat-container sidebar-toggle" [class.mobile-menu]="layoutService.mobileBack">
  <nav id="mainNav" class="main-nav custom-scroll" [class.on]="layoutService.config.sidebar_setting">
    <app-main-nav></app-main-nav>
  </nav>
  <aside class="chitchat-left-sidebar left-disp">
    <app-left-sidebar></app-left-sidebar>
  </aside> -->
  <div class="chitchat-main" id="content" [class.small-sidebar]="layoutService.sidebarClass">
    <app-chat-board></app-chat-board>
  </div>
  <!-- <app-right-sidebar></app-right-sidebar>
</div> -->
