<ul class="wallpaper">
    <li class="bg-color bg-default " [class.active]="layoutService.config.wallpaper == ''" (click)="selectWallpaper()"></li>
    <li
      class="bg-size"
      [class.active]="layoutService.config.wallpaper == '2'"
      (click)="selectWallpaper('2')"
      style=" background-image: url('/assets/images/wallpaper/2.jpg'); background-size: cover; background-position: center center; display: block;">
      <img class="bg-img" src="assets/images/wallpaper/2.jpg" alt="Avatar" style="display: none"/>
    </li>
    <li
      class="bg-size"
      [class.active]="layoutService.config.wallpaper == '3'"
      (click)="selectWallpaper('3')"
      style=" background-image: url('/assets/images/wallpaper/3.jpg'); background-size: cover; background-position: center center; display: block;" >
      <img class="bg-img" src="assets/images/wallpaper/3.jpg" alt="Avatar" style="display: none"/>
    </li>
    <li
      class="bg-size"
      (click)="selectWallpaper('4')"
      [class.active]="layoutService.config.wallpaper == '4'"
      style=" background-image: url('/assets/images/wallpaper/4.jpg'); background-size: cover; background-position: center center; display: block;">
      <img class="bg-img" src="assets/images/wallpaper/4.jpg" alt="Avatar" style="display: none" />
    </li>
    <li
      class="bg-size"
      (click)="selectWallpaper('5')"
      [class.active]="layoutService.config.wallpaper == '5'"
      style=" background-image: url('/assets/images/wallpaper/5.jpg'); background-size: cover; background-position: center center; display: block;">
      <img class="bg-img" src="assets/images/wallpaper/5.jpg" alt="Avatar" style="display: none" />
    </li>
    <li
      class="bg-size"
      (click)="selectWallpaper('1')"
      [class.active]="layoutService.config.wallpaper == '1'"
      style=" background-image: url('/assets/images/wallpaper/1.jpg'); background-size: cover; background-position: center center; display: block;" >
      <img class="bg-img" src="assets/images/wallpaper/1.jpg" alt="Avatar" style="display: none"/>
    </li>
    <li class="bg-color grediant-1" (click)="selectWallpaper('grediant-1')" [class.active]="layoutService.config.wallpaper == 'grediant-1'"></li>
    <li class="bg-color grediant-2" (click)="selectWallpaper('grediant-2')" [class.active]="layoutService.config.wallpaper == 'grediant-2'"></li>
    <li class="bg-color grediant-3" (click)="selectWallpaper('grediant-3')" [class.active]="layoutService.config.wallpaper == 'grediant-3'"></li>
    <li class="bg-color grediant-4" (click)="selectWallpaper('grediant-4')" [class.active]="layoutService.config.wallpaper == 'grediant-4'"></li>
    <li class="bg-color grediant-5" (click)="selectWallpaper('grediant-5')" [class.active]="layoutService.config.wallpaper == 'grediant-5'"></li>
    <li class="bg-color grediant-6" (click)="selectWallpaper('grediant-6')" [class.active]="layoutService.config.wallpaper == 'grediant-6'"></li>
  </ul>


