<div class="landing-title">
    <div>
      <h1>Team</h1>
    </div>
    <div class="sub-title">
      <div>
        <h4>Team</h4>
        <h2>Our Experts</h2>
      </div>
    </div>
  </div>
  <div class="custom-container testimonial-main">
    <div class="row">
      <div class="col-12">
        <div class=" pt-0">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <div class="item">
                <div class="testimonial-box mt-0">
                  <div class="test-img"><img class="img-fluid" src="assets/images/landing/testimonial/1.png" alt="test-img"/><i class="test-wish fa fa-heart"></i></div>
                  <div class="test-contain">
                    <h4>project manager</h4>
                    <h3>Advanced Equipment</h3>
                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                    <ul class="test-icon">
                      <li><a href="https://www.google.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon1.png" alt="icon-google"/></a></li>
                      <li><a href="https://twitter.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon2.png" alt="icon-google"/></a></li>
                      <li><a href="https://www.facebook.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon3.png" alt="icon-google"/></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>  
            <ng-template carouselSlide> 
              <div class="item">
              <div class="testimonial-box mt-0">
                <div class="test-img"><img class="img-fluid" src="assets/images/landing/testimonial/2.png" alt="test-img"/></div>
                <div class="test-contain">
                  <h4>project manager</h4>
                  <h3>Advanced Equipment</h3>
                  <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                  <ul class="test-icon">
                    <li><a href="https://www.google.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon1.png" alt="icon-google"/></a></li>
                    <li><a href="https://twitter.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon2.png" alt="icon-google"/></a></li>
                    <li><a href="https://www.facebook.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon3.png" alt="icon-google"/></a></li>
                  </ul>
                </div>
              </div>
            </div></ng-template>  
            <ng-template carouselSlide> 
              <div class="item">
                <div class="testimonial-box mt-0">
                  <div class="test-img"><img class="img-fluid" src="assets/images/landing/testimonial/3.png" alt="test-img"/><i class="test-wish fa fa-heart"></i></div>
                  <div class="test-contain">
                    <h4>project manager</h4>
                    <h3>Advanced Equipment</h3>
                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                    <ul class="test-icon">
                      <li><a href="https://www.google.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon1.png" alt="icon-google"/></a></li>
                      <li><a href="https://twitter.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon2.png" alt="icon-google"/></a></li>
                      <li><a href="https://www.facebook.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon3.png" alt="icon-google"/></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>  
            <ng-template carouselSlide>
              <div class="item">
                <div class="testimonial-box mt-0">
                  <div class="test-img"><img class="img-fluid" src="assets/images/landing/testimonial/4.png" alt="test-img"/><i class="test-wish fa fa-heart"></i></div>
                  <div class="test-contain">
                    <h4>project manager</h4>
                    <h3>Advanced Equipment</h3>
                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                    <ul class="test-icon">
                      <li><a href="https://www.google.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon1.png" alt="icon-google"/></a></li>
                      <li><a href="https://twitter.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon2.png" alt="icon-google"/></a></li>
                      <li><a href="https://www.facebook.com/"><img class="img-fluid" src="assets/images/landing/testimonial/icon3.png" alt="icon-google"/></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>  
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <div class="testimonial-back-content"><img class="img-fluid test-img2" src="assets/images/landing/testimonial/6.png" alt="testimonial"/></div>
  </div>