<ul class="call-log-main">
  @for (call of missedCalls; track call;let i = $index) {
  <li [class.active]="i === activeIndex" (click)="toggleActive(i)">
    <div class="call-box">
      <div class="profile online" [ngStyle]="{'background-image': 'url(' + call.imgSrc + ')'}">
      </div>
      <div class="details">
        <h5>{{ call.name }}</h5>
        <h6><app-feather-icons [icon]="'arrow-up-right'"></app-feather-icons>{{ call.time }}</h6>
      </div>
      <div class="call-status">
        <div class="icon-btn btn-outline-success button-effect btn-sm">
          <i data-feather="video"></i>
        </div>
      </div>
    </div>
  </li>
  }
</ul>