<section class="section-py-space faq-section">
    <ul class="page-decore">
      <li class="top"><img class="img-fluid inner2" src="assets/images/landing/footer/2.png" alt="footer-back-img"></li>
      <li class="bottom"><img class="img-fluid inner2" src="assets/images/landing/footer/2.png" alt="footer-back-img"></li>
    </ul>
    <div class="container">
      <div class="row faq-block">
        <div class="col-sm-12 position-relative">
          <div class="media d-flex">
            <div>
              <h2>Frequently Asked Questions</h2>
              <p>Discover you question from underneath or present your inquiry fromt tahe submit box.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="accordion theme-accordion" id="accordionExample1">
            <div ngbAccordion>
              <div ngbAccordionItem [collapsed]="false">
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>How can I downgrade to an earlier ?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>
                      <p>it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures</p>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>
                    How can I upgrade from Shopify 2.5 to shopify 3?
                  </button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>
                      <p><img class="img-fluid faq-decor" src="assets/images/landing/chitchat/2.png" alt="chit-chat-back-img"/>it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures</p>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>Under what license are Regular Labs released?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>
                      <p><img class="img-fluid faq-decor" src="assets/images/landing/chitchat/2.png" alt="chit-chat-back-img"/>it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures</p>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>What is the Regular Labs Library?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>
                      <p><img class="img-fluid faq-decor" src="assets/images/landing/chitchat/2.png" alt="chit-chat-back-img"/>it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures</p>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>Can I turn on/off some blocks on the page?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>
                      <p><img class="img-fluid faq-decor" src="assets/images/landing/chitchat/2.png" alt="chit-chat-back-img"/>it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures</p>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
      