<div class="custom-scroll right-sidebar">           
   <div class="contact-profile">
      <app-profile></app-profile>
   </div>
   <div class="document">
      <app-shared-document></app-shared-document>
   </div>
   <div class="media-gallery portfolio-section grid-portfolio">
      <app-shared-media></app-shared-media>
   </div>
   <div class="status">
      <app-starred-massages></app-starred-massages>
   </div>
   <div class="status">
      <app-common-group></app-common-group>
   </div>
   <div class="status other">
   <h5 class="block-title p-b-25">Contact info</h5>
      <app-contact-info></app-contact-info>
   </div>
   <div class="status notification-items"> 
      <app-status></app-status>
   </div>
   <div class="status other">
      <app-others></app-others>
   </div>
</div>