<div class="theme-title">
  <div class="media">
    <div> 
      <h2>Profile</h2>
      <h4>Personal Information</h4>
    </div>
    <div class="media-body text-end">   
      <a class="icon-btn btn-outline-light btn-sm close-profile ms-3" (click)="handleClick()">
            <i data-feather="x"></i>
          </a>
      </div>
  </div>
</div>
<div class="details">
  <div class="contact-top" [ngStyle]="{'background-image': 'url(' + activeChat?.profileImage + ')'}" style="background-size: cover; background-position: center center; display: block;">
  </div>
  <div class="name">
    <h3>{{ activeChat?.name }}</h3>
    <h6>Add Description</h6>
  </div>
  <ul class="medialogo">
    <li><a class="icon-btn btn-danger button-effect" href="https://www.google.com/"><i class="fa fa-google"></i></a></li>
    <li><a class="icon-btn btn-primary button-effect" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
    <li><a class="icon-btn btn-facebook button-effect" href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
  </ul>
</div>