<ul class="colors">
  <li class="color" [class.active]="layoutService.config.color === 'color'" (click)="toggleActive('color')"></li>
  <li class="color1" [class.active]="layoutService.config.color === 'color1'" (click)="toggleActive('color1')"></li>
  <li class="color2" [class.active]="layoutService.config.color === 'color2'" (click)="toggleActive('color2')"></li>
  <li class="color3" [class.active]="layoutService.config.color === 'color3'" (click)="toggleActive('color3')"></li>
  <li class="color4" [class.active]="layoutService.config.color === 'color4'" (click)="toggleActive('color4')"></li>
  <li class="color5" [class.active]="layoutService.config.color === 'color5'" (click)="toggleActive('color5')"></li>
  <li class="color6" [class.active]="layoutService.config.color === 'color6'" (click)="toggleActive('color6')"></li>
</ul>

  