<div class="filter-block" ngbAccordion >
  <div class="collapse-block" ngbAccordionItem [collapsed]="false">
    <h5 ngbAccordionHeader>
      <button ngbAccordionButton>
        Shared Document 
        <label class="badge badge-success sm ms-2">3</label>
      </button>
    </h5>
    <div class="block-content"  ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <ul class="document-list">
            <li><i class="ti-folder font-danger"></i>
              <h5>Simple_practice_project-zip</h5>
            </li>
            <li><i class="ti-write font-success"></i>
              <h5>Word_Map-jpg</h5>
            </li>
            <li><i class="ti-zip font-primary"></i>
              <h5>Latest_Design_portfolio.pdf</h5>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</div>