<ng-template #ConfigurationModal let-modal>
    <div class="modal-header">
        <h3 class="mb-1 fw-semibold modal-title">Configuration</h3>
        <button class="close" type="button" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body config-popup">
        <div class="row">
            <p>To replace our design with your desired theme. Please do configuration as mention </p>
            <p> <b> Path : src > app > shared > services > layout.service.ts </b> </p>
            <div>
<pre>
  <code>
    public config = &#123;  
      color&#58; '{{layoutService.config.color}}',
      layout&#58; '{{layoutService.config.layout}}',
      rtl&#58; '{{layoutService.config.rtl}}',
      wallpaper&#58; '{{layoutService.config.wallpaper}}',
      sidebar_type&#58; '{{layoutService.config.sidebar_type}}',
      sidebar_setting&#58; '{{layoutService.config.sidebar_setting}}',
    &#125;
  </code>
</pre>  
            </div>
         </div>
         <button class="btn btn-primary mt-2" (click)="copyText(this.layoutService.config)">Copy Json</button>
    </div>
</ng-template>
