<div class="custom-container">
    <div class="row">
      <div class="col-12">
        <div class="slider-main">
          <div class="slider-contain">             
            <h1>Easy To Use Our Chat App</h1>
            <h4> <span>Desktop App </span>– Easy to use our chat app, Attractive and<br/> clean design, with many Features Dark  & light, Recent Chat And many more.......</h4>
            <div class="downlaod">
              <div class="footer-btn"><a class="btn active" href="https://www.apple.com/in/itunes/"><i class="fa fa-apple"></i></a>
                <a class="btn mt-0 ms-3" href="https://play.google.com/store"><i class="fa fa-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><img class="img-fluid chat-slide" src="assets/images/landing/2.png" alt="inner"/>
  <img class="img-fluid inner1" src="assets/images/landing/header/1.png" alt="inner1"/>