<div class="collapse-block open">
  <h5 class="block-title">Shared Media
    <label class="badge badge-primary sm ms-2">2</label>
  </h5>
  <div class="block-content">
    <div class="row share-media zoom-gallery">
      <div class="col-12">
        <h6 class="mb-2">22/03/2023</h6>
      </div>
      <div class="col-4 isotopeSelector filter">
        <div class="media-big">
          <div class="overlay">
            <div class="border-portfolio"><a href="assets/images/gallery/1.jpg">
                <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="assets/images/gallery/1.jpg" alt="portfolio-image"/></a></div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="media-small isotopeSelector filter">
          <div class="overlay">
            <div class="border-portfolio"><a href="assets/images/gallery/2.jpg">
                <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="assets/images/gallery/2.jpg" alt="portfolio-image"/></a></div>
          </div>
        </div>
        <div class="media-small isotopeSelector filter">
          <div class="overlay">
            <div class="border-portfolio"><a href="assets/images/gallery/3.jpg">
                <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="assets/images/gallery/3.jpg" alt="portfolio-image"/></a></div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="media-small isotopeSelector filter">
          <div class="overlay">
            <div class="border-portfolio"><a href="assets/images/gallery/4.jpg">
                <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="assets/images/gallery/4.jpg" alt="portfolio-image"/></a></div>
          </div>
        </div>
        <div class="media-small isotopeSelector filter fashion">
          <div class="overlay">
            <div class="border-portfolio"><a href="assets/images/gallery/5.jpg">
                <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="assets/images/gallery/5.jpg" alt="portfolio-image"/></a></div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <h6 class="mb-2 mt-2">20/04/2023</h6>
      </div>
      <div class="col-4">
        <div class="media-small isotopeSelector filter">
          <div class="overlay">
            <div class="border-portfolio"><a href="assets/images/gallery/2.jpg">
                <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="assets/images/gallery/2.jpg" alt="portfolio-image"/></a></div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="media-small isotopeSelector filter">
          <div class="overlay">
            <div class="border-portfolio"><a href="assets/images/gallery/3.jpg">
                <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="assets/images/gallery/3.jpg" alt="portfolio-image"/></a></div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="media-small isotopeSelector filter">
          <div class="overlay">
            <div class="border-portfolio"><a href="assets/images/gallery/4.jpg">
                <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="assets/images/gallery/4.jpg" alt="portfolio-image"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>