<!-- <div class="recent-default dynemic-sidebar" [class.active]="isActive">
  <div class="recent">
    <div class="theme-title">
      <div class="media">
        <div>
          <h2>Recent</h2>
          <h4>Chat from your friends😘
          </h4>
        </div>
        <div class="media-body">
          <a
          class="icon-btn btn-outline-light button-effect pull-right mobile-back"
          [class.btn-outline-light]="!mainNavService.isPrimary"
          [class.btn-outline-primary]="mainNavService.isPrimary"
           (click)="mobileBack()">
           <i class="ti-angle-right"></i>
           </a>
          <a
            class="icon-btn button-effect pull-right mainnav btn-outline-light"
            [class.btn-outline-light]="!mainNavService.isPrimary"
            [class.btn-outline-primary]="mainNavService.isPrimary"
            (click)="toggleClass()">
           <i class="icon-layout-grid2"></i>
          </a>
        </div>
      </div>
    </div>
     <app-recent-slider></app-recent-slider>
  </div>
  <div class="chat custom-scroll">
    <ul class="chat-cont-setting" [class.open]="isOpen" >
       <app-quick-box></app-quick-box>
    </ul>
    <div class="theme-title">
      <div class="media">
        <div>
          <h2>Chat</h2>
          <h4>Start New Conversation</h4>
        </div>
        <div class="media-body text-end">
          <app-search></app-search>
          <a class="icon-btn btn-primary btn-fix chat-cont-toggle outside" (click)="toggleOpen()">
            <app-feather-icons [icon]="'plus'"></app-feather-icons>
          </a>
        </div>
      </div>
    </div>
    <div class="theme-tab tab-sm chat-tabs">
    <app-nav></app-nav>
  </div>
</div>
</div>
<div class="fevorite-tab dynemic-sidebar custom-scroll" [class.active]="sidebarId === 1" >
  <app-favorite-tab (buttonClicked)="handleButtonClicked()"> </app-favorite-tab>
</div>
<div class="document-tab dynemic-sidebar custom-scroll" [class.active]="sidebarId === 2">
  <app-document-tab (buttonClicked)="handleButtonClicked()"></app-document-tab>
</div>
<div class="contact-list-tab dynemic-sidebar custom-scroll"[class.active]="sidebarId === 3">
  <app-contact-tab (buttonClicked)="handleButtonClicked()"></app-contact-tab>
</div>
<div class="notification-tab dynemic-sidebar custom-scroll" [class.active]="sidebarId === 4">
  <app-notification-tab (buttonClicked)="handleButtonClicked()"
  ></app-notification-tab>
</div>
<div class="settings-tab dynemic-sidebar custom-scroll" [class.active]="sidebarId === 5">
  <app-settings-tab (buttonClicked)="handleButtonClicked()"></app-settings-tab>
</div>
<div class="status-tab custom-scroll dynemic-sidebar" [class.active]="sidebarId === 6">
  <app-status-tab (buttonClicked)="handleButtonClicked()"></app-status-tab>
</div> -->
