<section class="slider-block">
  <app-our-app></app-our-app>
</section>
<section class="section-py-space app-design-block" id="features">
  <app-main-slide></app-main-slide>
</section>
<section class="section-py-space chitchat-main light-bg">
  <app-features></app-features>
 </section>
<section class="section-py-space team-work-main" id="team">
  <app-teamwork></app-teamwork>
</section>
<section class="collaboration-main">
  <app-exclusive></app-exclusive>
</section>
<section class="section-py-space team-slider-nav">
 <app-team></app-team>
</section>
<section class="section-pb-space secure-app-main">
 <app-secure-messages></app-secure-messages>
</section>
<section class="section-py-space" id="price">
 <app-pricing-plan></app-pricing-plan>
</section>
<section class="section-pb-space subscribe-main" id="subscribe">
 <app-subscribe></app-subscribe>
</section>
