<ul class="call-log-main">
  @for (incomingCall of incomingCall; track incomingCall;let i = $index) {
  <li [class.active]="i === activeIndex" (click)="toggleActive(i)">
    <div class="call-box">
      <div [ngClass]="{'profile': true, 'offline': incomingCall.
        profile === 'offline', 
        'online': incomingCall.profile === 'online'}"
        [ngStyle]="{'background-image': 'url(' + incomingCall.imgSrc + ')'}">
      </div>
      <div class="details">
        <h5>{{ incomingCall.name }}</h5>
        <h6>
          <i class="missed" data-feather="corner-left-down"></i>{{ incomingCall.time }}
        </h6>
      </div>
      <div class="call-status">
        <div class="icon-btn btn-outline-danger button-effect btn-sm">
          <i data-feather="video"></i>
        </div>
      </div>
    </div>
  </li>
  }
</ul>