<div class="card-header" id="headingFour">
  <a>Change Number
    <i class="fa fa-angle-down" (click)="toggle()"></i>
  </a>
</div>
<div [class.show]="show" class="collapse">
  <div class="card-body change-number">
    <h5>Your old country code & phone number</h5>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text form-control m-0">+</span>
      </div>
      <input class="form-control country-code" type="number" placeholder="01" />
      <input class="form-control" type="number" placeholder="1234567895" />
    </div>
    <h5>Your new country code & phone number</h5>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text form-control m-0">+</span>
      </div>
      <input class="form-control country-code" type="number" placeholder="01" />
      <input class="form-control" type="number" placeholder="" />
    </div>
    <div class="text-end">
      <a class="btn btn-outline-primary button-effect btn-sm" >confirm</a>
    </div>
  </div>
</div>
